*.pyc

.vscode
/venv
/.venv
/staticfiles_root

dbpecbacuri.md

# Environment variables
.env

# Backups
backups/

# SQLite (caso volte a usar)
db.sqlite3

# Arquivos de cache
__pycache__/
*.pyc

dados_fazenda.json
