{% extends "base.html" %}

{% block title %}Analise por Idade | Gestão Nelore{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Análise do Rebanho por Categoria de Idade</h1>
        <p class="lead">Distribuição dos animais ativos, fundamental para o planejamento de manejo e descarte.</p>


        <div class="row row-cols-1 row-cols-md-4 g-4">
            
            {% for categoria, contagem in categorias_idade.items %}
                <div class="col">
                    <div class="card bg-light mb-3 text-center h-100">
                        <div class="card-header fw-bold">{{ categoria }}</div>
                        <div class="card-body">
                            <p class="card-text fs-2 fw-bold">{{ contagem }}</p>
                            <p class="card-text small">Animais</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
        
    </div>
{% endblock %}